1. iris3.csv를 읽고   
1) species 열의 고유값을 프린트 하고  
2) sepal_length 열의 값을 첫번째 방법으로 정규화 하고    
3) sepal_width 열의 값을 두번째 방법으로 정규화하고  
4) sepal_length 열과 sepal_width 열의 통계 정보를 print하는 code를 작성 하시오.

In [ ]:
%reset -f
import pandas as pd

df = pd.read_csv('../csv/iris3.csv')
print(df)
print(df.columns)

# 1)
print(df['species'].unique())

# 2)
df['sepal_length'] = df['sepal_length'] / df['sepal_length'].max()
print(df['sepal_length'])

# 3)
df['sepal_width'] = \
	(df['sepal_width'] - df['sepal_width'].min()) / (df['sepal_width'].max() - df['sepal_width'].min())
# print(df['sepal_width'])

# 4)
for col_name in ['sepal_length', 'sepal_width']:
	print(df[col_name].describe())

2. iris3.csv를 읽고   
1) petal_length과 petal_width 열에 mean_min 함수를  적용하고  
2) 결과 값을 프린트 하는 code를 작성 하시오

In [ ]:
%reset -f
import pandas as pd

df = pd.read_csv('../csv/iris3.csv')


def mean_min(x):
     return x.mean() - x.min()


# 1)
result = df.loc[:, ['petal_length', 'petal_width']].apply(mean_min, axis=1)

# 2)
print(result)

3. titanic 데이터에서  
1)  age 열이 25세 이상이고 남성인  행만 구하고  
2)  이중 앞의 5행만 print하는 하는 code를 작성 하시오

In [ ]:
%reset -f 
import pandas as pd
import seaborn as sns

titanic=sns.load_dataset('titanic')

titanic.dropna(subset=['age'], inplace=True)

# 1)
result = titanic.loc[(titanic['age'] >= 25) & (titanic['sex'] == 'male'), :]

# 2)
print(result.iloc[:5])  # [0 ~ 4]

4. 아래의 code에서 정의 되는 df1, df2, df3에서  
1) df1과 df2를 위 아래로 연결하고 새로운 인덱스를 설정하여 print 히고    
2) df1과 df3를 좌 우로 연결 하고  print하는    
code를 작성 하시오

In [ ]:
%reset -f 
import pandas as pd

# 데이터 프레임 1
df1 = pd.DataFrame([
        ['a', 1],
        ['b', 2]
    ],
    columns=['letter', 'number'])
print(df1)

# 데이터 프레임 2
df2 = pd.DataFrame([
        ['c', 3],
        ['d', 4]
    ],
    columns=['letter', 'number'])
print(df2)

# 데이터 프레임 3
df3 = pd.DataFrame([
        ['bird', 'polly'],
        ['monkey', 'george']
    ],
    columns=['animal', 'name'])
print(df3)

# 1)
print(pd.concat([df1, df2], axis=0))


# 2)
print(pd.concat([df1, df3], axis=1))

5.아래의 code에서 정의 되는 adf, bdf에서  
1) x1 열을 기준으로 adf, bdf의 교집합을 병합하고 print  
2) x1 영을 기준으로 adf, bdf의 합집합을 병합하고 print  
3) x1 열을 기준으로 왼쪽 데이터 프레임(adf)을 기준으로 병합하고 print  
4)  x1 열을 기준으로 오른쪽 데이터 프레임(bdf)을 기준으로 병합하고 print  
하는 code를 작성하시오

In [ ]:
%reset -f 
import pandas as pd

# 실습을 위한 데이터 프레임 만들기 1
adf = pd.DataFrame({
    "x1": ["A", "B", "C"],
    "x2": [1, 2, 3]
})
print(adf)
# 데이터 프레임 만들기 2
bdf = pd.DataFrame({
    "x1": ["A", "B", "D"],
    "x3": ["T", "F", "T"]
})
print(bdf)

# print(pd.merge.__doc__)
# 1)
print(pd.merge(left=adf, right=bdf, how='inner', on='x1'), end='\n\n')

# 2)
print(pd.merge(left=adf, right=bdf, how='outer', on='x1'), end='\n\n')

# 3)
print(pd.merge(left=adf, right=bdf, how='left', on='x1'), end='\n\n')

# 4)
print(pd.merge(left=adf, right=bdf, how='right', on='x1'), end='\n\n')

6.exam2.csv 파일을 읽고   
1) nclass 기준으로 group별 평균을 구하고 print하고  
2) nclass 기준으로 group별 최고점을 구하고 print하는  
code를 작성 하시오

In [ ]:
%reset -f 
import pandas as pd

df = pd.read_csv('../csv/exam2.csv', header=0)

by_nclass_df = df.drop('id', axis=1).groupby('nclass')  # id 열 제거 후 nclass로 DataFrameGrouBy object 생성

# 1)
print(by_nclass_df.mean())

# 2)
print(by_nclass_df.max())

(선택) 7. stock price 파일과 stock valuation 파일을 이용하는 문제입니다   
1) id를 중심으로 병합된 데이터프레임(adf)를 만들어주세요, (교집합)  
2) adf 데이터프레임을 이용해 시가총액(value)이 10000 이상인 기업들의 주가(price), 주가수익비율(per), 주가자산비율(pbr)의 표준편차를 구하세요  
3) adf 데이터프레임을 사용합니다.    
주가수익비율(per)은 주가(price)에서 주당순이익(eps)을 나눠서 계산합니다.    
예시) per = price/eps    
3-1) 기존의 per열은 삭제한 후 새롭게 per_new열을 price와 eps 를 사용해 추가해주세요    
3-2) per_new값이 15 이상인 기업은 고평가 15미만인 기업은 저평가를 나타내주는 per_value 열을 만들어주세요 (단, lambda와 apply를 사용해주세요)  
4) adf를 프린트 합니다.

In [ ]:
%reset -f 
import numpy as np
import pandas as pd

df_price = pd.read_excel('../xlsx/stock price.xlsx', header=0, engine='openpyxl')
df_value = pd.read_excel('../xlsx/stock valuation.xlsx', header=0, engine='openpyxl')

# 1)
adf = pd.merge(df_price, df_value, how='inner', on='id')

# 2)
print(adf.loc[(adf['value'] >= 10000), ['price', 'per', 'pbr']].std())

# 3-1)
adf.drop(['per'], axis=1, inplace=True)
adf['per_new'] = adf.apply(lambda x: x['price'] / x['eps'], axis=1)

# 3-2)
adf['per_value'] = adf.apply(lambda x: '고평가' if x['per_new'] >= 15 else '저평가', axis=1, result_type='expand')

# 4)
print(adf)